@charset "UTF-8";

.bg {
  height: 500px;
}

.bg_img {
  background: url(../../image/coffee-background.jpg);
}

.norepeat {
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.center_zoom {
  background: url(../../image/coffee-background.jpg) center/cover;
}

.center_fit {
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}

